body {
  background-color: #314867;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}
.button {
  background-color: #4caf50;
  font-size: 30px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.button.buttonRed {
  background-color: #af4c4c;
}
.button:disabled {
  background-color: #727272ff;
  color: grey;
}
